<div class="mb-5 mx-4">

<!-- <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Número de documento</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.numDocumento }}</td>
        <td>{{ empresa.direccion }}</td>
        <td>{{ empresa.telefono }}</td>
        <td>
          <button>Editar</button>
          <button>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table> -->
  
  
  <!-- <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let empresa"> {{ empresa.nombre }} </td>
    </ng-container>  
    
    <ng-container matColumnDef="numeroDocumento">
      <th mat-header-cell *matHeaderCellDef> Número de documento </th>
      <td mat-cell *matCellDef="let empresa"> {{ empresa.numDocumento }} </td>
    </ng-container>
  
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let empresa"> {{ empresa.direccion }} </td>
    </ng-container>
    
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let empresa"> {{ empresa.telefono }} </td>
    </ng-container>
    
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let empresa">
        <button mat-icon-button color="warn" matTooltip="Borrar" matTooltipPosition="above">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Editar" matTooltipPosition="above">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Ver mas..." matTooltipPosition="above" (click)="getEmpresaById(empresa.id)">
          <mat-icon>info</mat-icon>
        </button>
      </td>
    </ng-container>
  
    
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let fila; columns: columnas;"></tr>

  </table> -->

  <div class="grid">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-4" *ngFor="let empresa of empresas">
      <empresa-card [empresa]="empresa"></empresa-card>
    </div>
  </div>
  
  
</div>

