<div class="h-screen flex flex-col">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" [matTooltip]="sidenav.opened ? 'Cerrar Menú' : 'Abrir Menú'">
      <mat-icon>menu</mat-icon>
    </button>
      <span>Redes ups y seguridad</span>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1">
      <mat-sidenav #sidenav mode="side" class="h-full">
        <!-- Contenido del sidenav -->
        <p>Contenido del sidenav</p>
        <p>ingreso</p>
      </mat-sidenav>
      <mat-sidenav-content class="flex-1">
        <!-- Contenido principal -->
        hola
        <!-- <router-outlet></router-outlet>         -->
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>