<div class="h-screen flex flex-col">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" [matTooltip]="sidenav.opened ? 'Cerrar Menú' : 'Abrir Menú'">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Redes ups y seguridad</span>
    <span class="flex-grow"></span>
    <div class="buttons">
      <button mat-button>
        <mat-icon>account_circle</mat-icon>
        Usuario
      </button>
      <button mat-button>
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1">
    <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened" class="h-full w-60">
      <!-- Contenido del sidenav -->
      <mat-list>
        <a
          [routerLink]="['/dashboard']"
          routerLinkActive
          class="flex items-center p-4 hover:bg-gray-200 transition-colors"
        >
          <mat-icon class="mr-2">dashboard</mat-icon>
          <span class="font-medium">Dashboard</span>
        </a>
        <a
          routerLink="/service-orders"
          routerLinkActive
          class="flex items-center p-4 hover:bg-gray-200 transition-colors"
        >
          <mat-icon class="mr-2">build</mat-icon>
          <span class="font-medium">Visitas tecnicas</span>
        </a>
        
      </mat-list>
    </mat-sidenav>
      <mat-sidenav-content class="flex-1">
        <!-- Contenido principal -->        
        <ng-content></ng-content>        
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>