<div class="h-screen flex flex-col">

  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()" [matTooltip]="sidenav.opened ? 'Cerrar Menú' : 'Abrir Menú'">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Redes ups y seguridad</span>
    <span class="flex-grow"></span>
    <div class="buttons">
      <button mat-button>
        <mat-icon>account_circle</mat-icon>
        Usuario
      </button>
      <button mat-button>
        <mat-icon>exit_to_app</mat-icon>
        Salir
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="flex-1">
      <mat-sidenav #sidenav mode="side" [opened]="isSidenavOpened" class="h-full w-64">
        <!-- Contenido del sidenav -->
        <mat-list>
          <mat-list-item>
            <mat-icon>dashboard</mat-icon>
            Dashboard
          </mat-list-item>
          <mat-list-item>
            <mat-icon>build</mat-icon>
            Visitas tecnicas
          </mat-list-item>
          <!-- Agrega más elementos de la lista aquí -->
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content class="flex-1">
        <!-- Contenido principal -->        
        <ng-content></ng-content>        
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>