<div class="grid">
    <ng-template #divLoading>
        <div class="grid-cols-1">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

    <div *ngIf="empresa; else divLoading">
        <!-- {{ empresa | json}} -->
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ empresa.nombre }}</mat-card-title>
                <mat-card-subtitle>{{ empresa.descripcion }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item><strong>Direccion: </strong>{{ empresa.direccion }}</mat-list-item>
                    <mat-list-item><strong>{{ empresa.tipoDocumento }}:</strong> {{ empresa.numDocumento }}-{{ empresa.digitoVerificacion}}</mat-list-item>
                    <mat-list-item><strong>Telefono:</strong> {{ empresa.telefono }}</mat-list-item>
                    <mat-list-item><strong>Correo electronico:</strong> {{ empresa.correo }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>