<div class="grid">
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <div *ngIf="empresa; else loading">
      <!-- {{ empresa | json}} -->
      <mat-card class="p-4 border rounded shadow-lg">
          <div class="flex flex-col">
            <mat-card-header class="bg-gray-400 text-white p-2 rounded-t">
              <mat-card-title class="text-2xl pl-4 font-bold">{{ empresa.nombre }}</mat-card-title>
              <mat-card-subtitle class="text-sm pl-4 pb-2">{{ empresa.descripcion }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="p-4 mt-3">
              <mat-list>
                <mat-list-item>
                  <strong>Dirección:</strong> {{ empresa.direccion }}
                </mat-list-item>
                <mat-list-item>
                  <strong>{{ empresa.tipoDocumento }}:</strong> {{ empresa.numDocumento }}-{{ empresa.digitoVerificacion }}
                </mat-list-item>
                <mat-list-item>
                  <strong>Teléfono:</strong> {{ empresa.telefono }}
                </mat-list-item>
                <mat-list-item>
                  <strong>Correo electrónico:</strong> {{ empresa.correo }}
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </div>
      </mat-card>
  </div>
</div>