<div class="container mx-auto mt-8">
    <div class="w-full md:w-3/4 lg:w-2/3 xl:w-300 mx-auto p-6">
      <h3 class="text-2xl font-semibold mb-4"><b>Añadir una nueva empresa</b></h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">        
        <div class="md:flex lg:flex col-span-3 gap-4">
          <mat-form-field class="w-full">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select>
              <mat-option value="cedula">NIT</mat-option>
              <mat-option value="pasaporte">Cédula</mat-option>
              <!-- Agrega más tipos de documento si es necesario -->
            </mat-select>
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <mat-label>Número de Documento</mat-label>
            <input matInput placeholder="Número de Documento">
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <mat-label>Dígito de Verificación</mat-label>
            <input matInput placeholder="Dígito de Verificación">
          </mat-form-field>
        </div>
        <div class="md:flex lg:flex">
          <mat-form-field class="w-full">
            <input matInput placeholder="Nombre">
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <input matInput placeholder="Dirección">
          </mat-form-field>
  
          <mat-form-field class="w-full">
            <input matInput placeholder="Teléfono">
          </mat-form-field>
        </div>
        <div class="md:flex lg:flex">
          <mat-form-field class="w-full">
            <input matInput placeholder="Correo electrónico">
          </mat-form-field>
        </div>
      </div>
      <div class="flex justify-center mt-6">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
      </div>
    </div>
  </div>