<div class="container mx-auto mt-8">
  <div class="w-full mx-5 md:mx-10">
    <h3 class="text-2xl font-semibold mb-4">
      <b>Añadir / Editar una empresa </b>
      <small> Empresa</small>
    </h3>
  </div>
  <div class="w-full px-0 md:px-10">
    <form [formGroup]="empresaForm" (submit)="onSubmit()">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-4 md:p-0">
        <mat-form-field class="w-full">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select required="" formControlName="tipoDocumento">
            <mat-option value="cedula">NIT</mat-option>
            <mat-option value="pasaporte">Cédula</mat-option>
            <!-- Agrega más tipos de documento si es necesario -->
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Número de Documento</mat-label>
          <input matInput placeholder="Número de Documento" type="number" required="" formControlName="numDocumento">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Dígito de Verificación</mat-label>
          <input matInput placeholder="Dígito de Verificación" formControlName="digitoVerificacion">
        </mat-form-field>
              
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" type="text" required formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Dirección" required formControlName="direccion">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Teléfono" formControlName="telefono">
        </mat-form-field>
              
        <mat-form-field class="w-full">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo electrónico" formControlName="correo">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Latitud</mat-label>
          <input matInput placeholder="Latitud" type="number" formControlName="latitude">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Longitud</mat-label>
          <input matInput placeholder="Longitud" type="number" formControlName="longitude">
        </mat-form-field>
      
        <mat-form-field class="w-full">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="descripcion" formArrayName="descripcion">
        </mat-form-field>
      </div>
    </form>  
    <div class="flex justify-center mb-10">
      <button mat-raised-button color="primary" type="submit" class="mr-2" (click)="onSubmit()">Guardar</button>
      <button mat-raised-button color="warn" type="submit" class="mr-2">Eliminar</button>
    </div>
  </div>
</div>

  <!-- <pre>
    {{ currentEmpresa | json}}
  </pre> -->