<app-navbar>
    <mat-toolbar class="toolbar">
      <mat-icon>home_work</mat-icon>
      <span class="ml-2">Empresas</span>
      <span class="flex-grow"></span>
      <div class="buttons">
        <button mat-flat-button color="accent" routerLink="./new-empresa" class="mr-2">
          <div class="flex items-center">
            <mat-icon>add</mat-icon>
            <span class="hidden md:inline ml-1">Adicionar</span>
          </div>
        </button>
        <button mat-flat-button color="accent" routerLink="./list-empresas">
          <div class="flex items-center">
            <mat-icon>reply</mat-icon>
            <span class="hidden md:inline ml-1">Atras</span>
          </div>
        </button>
      </div>
    </mat-toolbar>
    <div>
      <mat-card class="m-0 md:m-5 lg:m-10">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
</app-navbar>
