<app-navbar>
    <mat-toolbar class="toolbar">
      <mat-icon>home_work</mat-icon>
      <span class="ml-2">Empresas</span>
      <span class="flex-grow"></span>
      <div class="buttons">
        <button mat-flat-button color="accent" routerLink="./new-empresa" class="mr-2">
          <mat-icon>add</mat-icon>
          <span class="hidden md:block">Adicionar</span>
        </button>
        <button mat-flat-button color="accent" routerLink="./list-empresas">
          <mat-icon>reply</mat-icon>
          Atras
        </button>
      </div>
    </mat-toolbar>
    <div>
      <mat-card class="m-10">
        <router-outlet></router-outlet>
      </mat-card>
    </div>
</app-navbar>
