<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <mat-card class="w-full sm:w-96">
      <mat-card-header>
        <mat-card-title class="text-center">Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="w-full">
          <input matInput placeholder="Usuario">
        </mat-form-field>
        <mat-form-field class="w-full mt-4">
          <input matInput type="password" placeholder="Contraseña">
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-full mt-6">Iniciar sesión</button>
      </mat-card-content>
    </mat-card>
  </div>

<router-outlet></router-outlet>
